package ${package}.${moduleName}.dao;

import ${package}.${moduleName}.entity.${className};
import com.jcl.orm.tkmapper.BaseMapper;

/**
 * ${comments}
 * 
 * @author ${author}
 * @email ${email}
 * @date ${datetime}
 */
public interface ${className}Dao extends BaseMapper<${className}> {
	
}
